.tree-child,.tree-container {
    display: block;
    margin: 0;
    padding: 0;
    list-style-type: none;
    list-style-image: none
}

.tree-icon,.tree-node {
    background-image: url(32px.png)
}

.tree-node {
    background-position: -292px -4px;
    background-repeat: repeat-y;
    white-space: nowrap;
    min-height: 24px;
    line-height: 24px;
    min-width: 24px;
    margin-left: 24px
}

.tree-container>.tree-node {
    margin-left: 0;
    margin-right: 0
}

.hide-node {
    display: none
}

.tree-icon:empty {
    display: inline-block;
    text-decoration: none;
    margin: 0;
    padding: 0;
    vertical-align: top;
    text-align: center
}

.tree-ocl {
    cursor: pointer
}

.tree-open>.tree-ocl {
    background-position: -99pt -4px
}

.tree-closed>.tree-ocl {
    background-position: -75pt -4px
}

.tree-leaf>.tree-ocl {
    background-position: -68px -4px;
    cursor: default
}

.tree-checkbox {
    background-position: -164px -4px
}

.tree-icon:empty {
    width: 24px;
    height: 24px;
    line-height: 24px
}

.tree-anchor {
    display: inline-block;
    color: #000;
    white-space: nowrap;
    padding: 0 4px 0 1px;
    margin: 0;
    vertical-align: top;
    line-height: 24px;
    height: 24px;
    text-decoration: none
}

.tree-last {
    background: 0 0
}

.tree-hover {
    background: #e7f4f9;
    border-radius: 2px;
    box-shadow: inset 0 0 1px #999
}

.tree-checked {
    background: #beebff;
    border-radius: 2px;
    box-shadow: inset 0 0 1px #ccc
}

.tree-checked .tree-checkbox {
    background-position: -228px -4px
}

.tree-mixin {
    background-position: -196px -4px
}
